<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.lsw.admin.dao.AdminMapper">

    <sql id="Base_Column_List">
        id,admin_name adminName,admin_pwd adminPwd,admin_email adminEmail
    </sql>
    <select id="getByNameAndPwd" parameterType="java.util.Map" resultType="com.hqu.lsw.pojo.AdminDO">
        select
        <include refid="Base_Column_List"/>
        from t_admin
        where admin_name=#{adminName} and admin_pwd=#{adminPwd}
    </select>

    <select id="getByPrimaryKey"  parameterType="java.lang.Long" resultType="com.hqu.lsw.pojo.AdminDO">
        select
        <include refid="Base_Column_List"/>
        from t_admin
        where id = #{adminId}
    </select>
</mapper>






















