<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.lsw.admin.dao.AdminMapper">

    <sql id="Base_Column_List">
        id,admin_name,admin_pwd,admin_email,login_time,login_ip
    </sql>
    <select id="selectByNameAndPwd" parameterType="java.lang.String" resultType="com.hqu.lsw.pojo.AdminDO">
        select
        <include refid="Base_Column_List"/>
        from t_admin
        where admin_name=#{adminName} and admin_pwd=#{adminPwd}
    </select>
   <!-- <resultMap id="BaseResultMap" type="com.luckin.supermarket.bean.Admin" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="login_pwd" property="loginPwd" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectByNameAndPwd" parameterType="java.lang.String" resultType="com.luckin.supermarket.bean.Admin">
		select id,login_name,login_pwd from t_admin where login_name=#{userName} and login_pwd=#{password}
	</select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_admin
        where id = #{id,jdbcType=INTEGER}
    </select>


    <update id="updateAdminInfo" parameterType="com.luckin.supermarket.bean.Admin">
        UPDATE t_admin SET login_name=#{loginName},login_pwd=#{loginPwd}
        WHERE id=#{id}
    </update>-->
</mapper>






















