<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.lsw.business.dao.BusinessMapper">

    <select id="getByNameAndPwd" parameterType="java.util.Map" resultType="com.hqu.lsw.pojo.entity.ManufactorDO">
        select
        id,login_name loginName,login_pwd loginPwd
        from t_manufactor
        where login_name=#{loginName} and login_pwd=#{loginPwd}
    </select>
</mapper>






















