<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.lsw.admin.dao.ManufactorMapper">

    <sql id="Base_Column_List">
        id,login_name loginName,login_pwd loginPwd,address,phone,img_url imgUrl,email,status,is_delete isDelete,creator_id creatorId,
        creator_name creatorName,creator_time creatorTime,last_modifier_id lastModifierId,last_modifier_name lastModifierName,
        last_modified_time lastModifiedTime ,industry
    </sql>

    <select id="listManufactor" parameterType="com.hqu.lsw.pojo.dto.ManufactorQueryPageDTO"
            resultType="com.hqu.lsw.pojo.bo.ManufactorBO">
        select
        id id,
        nick_name nickName,
        address,
        phone,
        email,
        industry
        from t_manufactor
        <where>
            <if test="nickName!=null and nickName!=''">
                and t_manufactor.nick_name=#{nickName}
            </if>
            <if test="address!=null and address!=''">
                and t_manufactor.address=#{address}
            </if>
            <if test="city!=null and city!=''">
                and t_manufactor.city=#{city}
            </if>
            <if test="industry!=null and industry!=''">
                and t_manufactor.industry=#{industry}
            </if>
        </where>

    </select>


    <select id="countByExample" parameterType="com.hqu.lsw.pojo.dto.ManufactorQueryPageDTO" resultType="java.lang.Long">
        select COUNT(*)
        from t_manufactor
        <where>
            <if test="nickName!=null and nickName!=''">
                and t_manufactor.nick_name=#{nickName}
            </if>
            <if test="address!=null and address!=''">
                and t_manufactor.address=#{address}
            </if>
            <if test="city!=null and city!=''">
                and t_manufactor.city=#{city}
            </if>
            <if test="industry!=null and industry!=''">
                and t_manufactor.industry=#{industry}
            </if>
        </where>
    </select>

    <!--新增厂家信息记录-->
    <insert id="addManufactor" parameterType="com.hqu.lsw.pojo.entity.ManufactorDO">
        insert into t_manufactor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="creatorId != null">
                creator_id,
            </if>
            <if test="creatorName != null">
                creator_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastModifierId != null">
                last_modifier_id,
            </if>
            <if test="lastModifiedTime != null">
                last_modified_time,
            </if>
            <if test="lastModifierName != null">
                last_modifier_name,
            </if>
            <if test="industry != null">
                industry,
            </if>
            <if test="city!=null">
                city,
            </if>
        </trim>
        <trim prefix = "values (" suffix=")" suffixOverrides=",">
            <if test="nickName != null">
                #{nickName},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="creatorId != null">
                #{creatorId},
            </if>
            <if test="creatorName != null">
                #{creatorName},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="lastModifierId != null">
                #{lastModifierId},
            </if>
            <if test="lastModifiedTime != null">
                #{lastModifiedTime},
            </if>
            <if test="lastModifierName != null">
                #{lastModifierName},
            </if>
            <if test="industry != null">
                #{industry},
            </if>
            <if test="city!=null">
                #{city},
            </if>
        </trim>
    </insert>

    <!--插入操作记录-->
    <insert id="insertOperationLog" parameterType="com.hqu.lsw.pojo.dto.OperationLogDTO">
        insert into t_oper_log(
          table_primary_key,
          oper_type,
          create_id,
          create_name,
          create_time,
          remark,
          function_type
        )
        values (
          #{tablePrimaryKey},
          #{operType},
          #{createId},
          #{createName},
          #{createTime},
          #{remark},
          #{functionType}
        )
    </insert>
</mapper>






















