<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.lsw.admin.dao.ProjectMapper">




    <select id="getProjectList" parameterType="com.hqu.lsw.pojo.entity.ProjectDO" resultType="com.hqu.lsw.pojo.entity.ProjectDO">


    </select>
</mapper>






















